body {
  background-color: #2c3e50;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.clock .title {
  color: white;
  font-size: 150px;
  font-weight: 700;
}

.ask-name,
.greeting {
  display: none;
  font-size: 75px;
}

.greeting {
  color: white;
}

input {
  margin: 10px 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.showing {
  display: block;
}

.js-toDoList {
  width: 20%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 5px;
}

.js-toDoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0px;
}

.toDo-del-btn {
  border: none;
  cursor: pointer;
}

.toDo-del-btn:hover {
  opacity: 1;
}
